@font-face {
  font-family: "Satisfy";
  font-weight: normal;
  font-style: normal;
  src: local("Satisfy"), url(../fonts/Satisfy/Satisfy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-weight: normal;
  font-style: normal;
  src: local("Fira Code"), url(../fonts/FiraCode/FiraCode-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-weight: bold;
  font-style: normal;
  src: local("Fira Code"), url(../fonts/FiraCode/FiraCode-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-weight: light;
  font-style: normal;
  src: local("Fira Code"), url(../fonts/FiraCode/FiraCode-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: bold;
  font-style: normal;
  src: local("Exo"), url(../fonts/Exo/Exo-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: bold;
  font-style: italic;
  src: local("Exo"), url(../fonts/Exo/Exo-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: bolder;
  font-style: normal;
  src: local("Exo"), url(../fonts/Exo/Exo-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: bolder;
  font-style: italic;
  src: local("Exo"), url(../fonts/Exo/Exo-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: lighter;
  font-style: normal;
  src: local("Exo"), url(../fonts/Exo/Exo-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: lighter;
  font-style: italic;
  src: local("Exo"), url(../fonts/Exo/Exo-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: normal;
  font-style: italic;
  src: local("Exo"), url(../fonts/Exo/Exo-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: light;
  font-style: normal;
  src: local("Exo"), url(../fonts/Exo/Exo-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: light;
  font-style: italic;
  src: local("Exo"), url(../fonts/Exo/Exo-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Exo";
  font-weight: normal;
  font-style: normal;
  src: local("Exo"), url(../fonts/Exo/Exo-Regular.ttf) format("truetype");
}
